<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
    <div>
        <div class="p-10">
            <a class="text-blue-500 inline-block mb-10" href="/">back to home page</a>
            <h1 class="text-3xl mb-3"><%=fileName%></h1>
            <%if(fileData.length > 0){%>
                <h2><%=fileData%></h2>
            <%}else{%>
                <h2>No data found</h2>
            <%}%>
        </div>
    </div>
</body>
</html>